
h1, h2, h3, h4 {
	font-family: Georgia, lucida, Verdana, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}

body {
	background-color: rgb(253,219,198);
}

a {
	text-decoration: none;
	border: none;
	color: rgb(247,164,9);
}

thead {
	text-align: left;
	color: #999;
}

form {
	background-color: rgb(253,230,215);
	border:#E1D6c6 1px solid;
}

input {
	background-color: rgb(254,239,231);
}

textarea {
	background-color: rgb(254,239,231);
}

select {
	background-color: rgb(254,239,231);
}

#header {
	width:100%;
	padding:0;
	border:#E1D6c6 1px solid;
	background-color: rgb(253,230,215);
}

#header h1 a {
	text-decoration: none;
	border:none;
}

#header h1 {
	margin: 0;	
	font-size: 1.4em;	
	padding:10px 20px 10px 0;
	text-align:right;	
	color: rgb(247,119,43);
}

#main {
	width:100%;
	height:80%;
	padding: 0px 0px 0px 0px ;
	font-family: Georgia, lucida, Verdana, sans-serif;
}

#content {
	width:83%;
	float:right;
	font-size: 1em;
}

#content h2 {
	margin: 10px 0 0 0;
	padding:2px;
	font-size: 1.2em;
	color: rgb(247,119,43);
	text-align:left;
	font-weight:bold;
	border-bottom: rgb(247,119,43) 1px solid;
}

#content h2 a {
	color: rgb(247,119,43);
}

#content h3 {
	margin: 10px 0 0 0;
	padding: 2px;
	font-size: 1.1em;
	color: rgb(247,119,43);
	text-align:left;
	font-weight:bold;
	border-bottom: rgb(247,119,43) 1px dashed;
}

#content h4 {
	margin: 10px 0 0 0;
	padding: 2px;
	font-size: 1em;
	color: rgb(247,119,43);
	text-align:left;
	font-weight:bold;
}

#content h4 a {
	margin: 10px 0 0 0;
	padding: 2px;
	font-size: 1em;
	text-align:left;
}

#error {
	color: #FF0000;
	font-weight:bold;
}

#error form {
	padding: 2px 10px 2px 10px;
	margin: 1em;
	font-size: 1.2em;
	color: #FF0000;
	font-weight:bold;
}

#validator {
	color: #00FF00;
	font-weight:bold;
}

#validator form {
	padding: 2px 10px 2px 10px;
	margin: 1em;
	font-size: 1.2em;
	color: #00FF00;
	font-weight:bold;
}

#content form {
	padding: 2px 10px 2px 10px;
	margin: 1em;
}

#content form input.button {
	margin-bottom: 1px ! important;
	font-size: 0.9em;
	color: rgb(247,119,43);
	cursor: pointer;
	padding: 2px 10px 2px 10px;
	text-transform: lowercase;
	background:#F3F6ED;
}

#content form input.textInput {
/*	padding: 2px 10px 2px 10px;*/
	background:#F3F6ED;
}

#content form textarea.textInput {
/*	padding: 2px 10px 2px 10px;*/
	background:#F3F6ED;
}

#content table.withBorder {
	padding: 2px 10px 2px 10px;
	margin: 1em;
}

#sidebar {
	width:15%;
	float:left;
	font-size:1em;
}

#sidebar h2 {
	margin: 10px 0 0 0;
	padding:2px;
	font-size: 0.8em;
	color: rgb(247,119,43);
	text-align: center;
	border:#E1D6c6 1px solid;
	background-color: rgb(253,230,215);
	font-weight:bold;
}

#sidebar ul {
	list-style-type: none;
	padding: 5px 0px 5px 10px;
	margin: 0px 0px 10px 0px;
	font-size: 0.8em;	
	border:#E1D6c6 1px solid;
	border-top:rgb(253,219,198) 1px solid;
}

#sidebar ul li {
	margin: 0.1em 0 0 0;
	padding: 0 0 0 0 ;	
}

#footer {
	margin:0 auto;
	padding: 7px 0px 0px 0px ;
	border-top: rgb(247,119,43) 1px solid;
	clear: both;
	font-size: 0.7em;
	color: rgb(247,119,43);
	text-align:center;
	width:100%;
}